[submodule "ChineseRummy"]
	path = ChineseRummy
	url = https://github.com/56han/ChineseRummy.git
[submodule "Sevens"]
	path = Sevens
	url = https://github.com/56han/Sevens.git
[submodule "8-puzzle"]
	path = 8-puzzle
	url = https://github.com/56han/8-puzzle.git
[submodule "8queen"]
	path = 8queen
	url = https://github.com/56han/8queen.git
[submodule "MotionApp"]
	path = MotionApp
	url = https://github.com/56han/MotionApp.git
